.quickview__modal{
    .icon__close.icon {
        font-size: 1.5rem;
        padding: 10px 0 10px 20px;
        display: block;
        width: max-content;
        margin-left: auto;
        margin-right: 15px;
    }
}