.btn__default,.btn__icon {
    --forground: rgba(var(--c-neutral-400), 1);
    --hover: rgba(var(--c-neutral-500), 1);
    --color: rgba(var(--c-white), 1);
    border: none;
    transition: .3s;
    background: var(--forground);
    color: var(--color);
    height: $btn_inp-height-md;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 1em;
    &:hover,&.active {
        background: var(--hover);
    }
    &:active {
        background: var(--forground);
    }
}
.btn__default {
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 $btn_inp-padding-md;
    &.btn--small {
        height: $btn_inp-height-sm;
        padding: 0 $btn_inp-padding-sm;
        font-size: 0.9em;
        line-height: 0.9em;
    }
    &.btn--large {
        height: $btn_inp-height-lg;
        padding: 0 $btn_inp-padding-lg;
        font-size: 1.1em;
        line-height: 1.1em;
    }
}
.btn__icon {
    width: $btn_inp-height-md;
    &.btn--small {
        height: $btn_inp-height-sm;
        width: $btn_inp-height-sm;
    }
    &.btn--large {
        height: $btn_inp-height-lg;
        width: $btn_inp-height-lg;
    }
}
.btn--light {
    --forground: rgba(var(--c-white), 1);
    --hover: rgba(var(--c-white), 0.93);
    --color: rgba(var(--c-black), 1);
}
.btn--dark {
    --forground: rgba(var(--c-neutral-600), 1);
    --hover: rgba(var(--c-neutral-900), 1);
    --color: rgba(var(--c-white), 1);
}
.btn--primary {
    --forground: rgba(var(--c-primary-500), 1);
    --hover: rgba(var(--c-primary-700), 1);
    --color: rgba(var(--c-white), 1);
}
.btn--secondary {
    --forground: rgba(var(--c-secondary-500), 1);
    --hover: rgba(var(--c-secondary-700), 1);
    --color: rgba(var(--c-white), 1);
}
.btn--border {
    color: var(--hover);
    background: transparent;
    border: 2px solid var(--forground);
    &:hover,&.active,&:active {
        color: var(--color);
        border-color: transparent;
    }
    &:hover,&.active {
        background: var(--forground);
    }
    &:active {
        background: var(--hover);
    }
}
