.input__default {
    border: none;
    outline: none;
    background: rgba(var(--c-neutral-100) , $alpha);
    border: 1px solid transparent;
    padding: 0 15px;
    height: $btn_inp-height-md;
    transition: .3s;
    font-size: 1em;
    line-height: 1em;
    &.input--small {
        height: $btn_inp-height-sm;
        font-size: 0.9em;
        line-height: 0.9em;
    }
    &.input--large {
        height: $btn_inp-height-lg;
        font-size: 1.1em;
        line-height: 1.1em;
    }

    &:focus {
        background: transparent;
        border: 1px solid rgba(var(--c-neutral-200) , $alpha);
    }
    &.input--border {
        border: 1px solid rgba(var(--c-neutral-200) , $alpha);
        background: transparent;
    }
    &.input--raduis {
        border-radius: 30px;
    }
    &.input__textarea {
        padding: 15px;
    }
}
