& > ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    li {
        a {
            text-transform: uppercase;
            width: 100%;
            display: block;
            padding: 15px 15px;
            position: relative;
            transition: .3s;
            font-weight: 700;
            &:hover, &.active {
                background: rgba(var(--c-neutral-100) , $alpha);
            }
        }
        .icon {
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            &:hover {
                background: rgba(var(--c-neutral-100) , $alpha);
            }
        }
        ul {
            padding: 10px 0 0 $header-modal-padding;
        }
    }
}