.result__item {
    display: flex;
    align-items: center;
    figure {
        flex-shrink: 0;
        margin-right: 15px;
        img {
            width: 120px;
            object-fit: cover;
        }
    }
    .item__content {
        h6 {
            @include lineclamp(1);
            a {
                transition: .3s;
                &:hover {
                    color: rgba(var(--c-primary-500) , $alpha);
                }
            }
        }
        p.description {
            @include lineclamp(2);
        }
        /*========== actions ==========*/
        .actions {
            display: flex;
            column-gap: 10px;
            a.badge__raduis {
                box-shadow: none;
                color: rgba(var(--c-white), $alpha) !important;
            }
        }
        /*========== actions ==========*/
    }
}