@import "assets/styles/helpers";

header {
    z-index: 999;
    background: rgba(var(--c-white) , $alpha);
    height: $header-height;
    &.live__stuck {
        position: fixed;
        top: -$header-height;
        left: 0;
        width: 100%;
        box-shadow: var(--shadow-m);
        animation: sliding 0.5s forwards
    }
    /*========== logo ==========*/
    .logo {
        user-select: none;
    }
    /*========== logo ==========*/
    @import "./header-user";
    @import "./header-nav";
}