@import "assets/styles/helpers";

header {
    z-index: 9999;
    background: rgba(var(--c-white) , $alpha);
    height: $header-height;
    &.live__stuck {
        position: fixed;
        top: -$header-height;
        left: 0;
        width: 100%;
        box-shadow: var(--shadow-m);
        animation: sliding 0.5s forwards
    }
    /*========== logo ==========*/
    .logo {
        user-select: none;
    }
    /*========== logo ==========*/
    /*========== header__user ==========*/
    .header__user {
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 18px;
        & > div {
            height: 100%;
            display: flex;
            align-items: center;
        }
        /*========== dropdown ==========*/
        .dropdown {
            height: 100%;
            display: flex;
            align-items: center;
            button {
                all: unset;
                &::after {
                    display: none;
                }
                .icon {
                    font-size: 1.4rem;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        color: rgba(var(--c-primary-500) , $alpha);
                    }
                }
            }
            /*========== dropdown-menu ==========*/
            .dropdown-menu.show {
                transform: translateY(120px) !important;
                border-radius: 0;
                padding: 0;
                border: none;
                box-shadow: var(--shadow-m);
                background: rgba(var(--c-white) , $alpha);
                font-size: unset;
                /*========== dropdown-header ==========*/
                .dropdown-header {
                    background: rgba(var(--c-neutral-50) , $alpha);
                    padding: 10px 25px;
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    border: 1px solid rgba(var(--c-neutral-100) , $alpha);
                    max-width: 260px;
                    img {
                        flex-shrink: 0;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .info {
                        overflow: hidden;
                        h4 {
                            font-weight: 600;
                            color: rgba(var(--c-black) , $alpha);
                        }
                    }
                }
                /*========== dropdown-header ==========*/
                /*========== items ==========*/
                .items {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(var(--c-neutral-100) , $alpha);
                    a {
                        padding: 10px 25px;
                        transition: .3s;
                        text-transform: uppercase;
                        font-size: inherit;
                        &:hover {
                            color: rgba(var(--c-primary-500) , $alpha);
                            background: inherit;
                        }
                    }
                }
                /*========== items ==========*/
            }
            /*========== dropdown-menu ==========*/
        }
        /*========== dropdown ==========*/
        .wrapper__badge {
            position: relative;
            .icon {
                font-size: 1.4rem;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    color: rgba(var(--c-primary-500) , $alpha);
                }
            }
        }
    }
    /*========== header__user ==========*/
    @import "./header-nav";
}