.reviews {
    /*========== review__item ==========*/
    .review__item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @include sm {
            flex-direction: row;
        }
        figure {
            width: 70px;
            height: 70px;
            flex-shrink: 0;
            margin-right: 15px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .item__content {
            .item__header {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                h5 {
                    font-weight: 600;
                    transition: .3s;
                    &:hover {
                        color: rgba(var(--c-primary-500), $alpha);
                    }
                }
            }
        }
    }
    /*========== review__item ==========*/
    /*========== show__reviews ==========*/
    a.show__reviews {
        font-weight: 600;
        transition: .3s;
        &:hover {
            color: rgba(var(--c-primary-700), $alpha);
        }
    }
    /*========== show__reviews ==========*/
    /*========== form ==========*/
    form {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        .form-group {
            position: relative;
            &.rating {
                display: flex;
                align-items: center;
                column-gap: 5px;
            }
            span.filed__error {
                position: absolute;
                top: 0;
                left: 15px;
                transform: translateY(-50%);
                background: rgba(var(--c-white) , $alpha);
                padding: 0 10px;
            }
            textarea {
                width: 100%;
                height: 150px;
            }
        }
    }
    /*========== form ==========*/
}