.aside__filter{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /*========== ul ==========*/
    ul {
        li {
            &:hover,&.active {
                color: rgba(var(--c-primary-500), $alpha);
            }
            /*========== form-check ==========*/
            .form-check {
                padding-left: 2rem;
                input {
                    cursor: pointer;
                    margin: 0;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;
                    accent-color: rgba(var(--c-primary-500), $alpha);
                }
                label {
                    width: 100%;
                    cursor: pointer;
                }
            }
            /*========== form-check ==========*/
        }
    }
    /*========== ul ==========*/
}