.layout__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @import "./visible-content";
    .product__list {
        .my__card {
            .product__item {
                @import "../../products/styles/product-item";
            }
            .product__item__list {
                @import "../../products/styles/product-item-list";
                @include md {
                    display: flex;
                    column-gap: 30px;
                    align-items: center;
                }
            }
            &:hover {
                box-shadow: var(--shadow-m);
                .product__item {
                    .thumbnail__buttons {
                        a {
                            opacity: 1;
                            pointer-events: all;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}