.visible__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    div {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    /*========== search ==========*/
    .search {
        flex-grow: 1;
        display: flex;
        align-items: center;
        input {
            width: 100%;
            border-right: none;
        }
    }
    /*========== search ==========*/
    /*========== sort ==========*/
    .sort {
        .box {
            position: relative;
            select {
                border-radius: 0;
                border: 1px solid rgba(var(--c-neutral-300), $alpha);
                padding: 0 30px 0 15px;
                height: $btn_inp-height-md;
                outline: none;
                text-transform: capitalize;
                appearance: none;
                cursor: pointer;
            }
            &::after {
                content: "\f107";
                font-family: "Font Awesome 5 Pro";
                font-weight: 400;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none
            }
        }
    }
    /*========== sort ==========*/
    /*========== visible ==========*/
    .visible {
        .icon {
            pointer-events: none;
        }
    }
    /*========== visible ==========*/
}