@import "assets/styles/helpers";

.filter__item {
    /*========== my__card ==========*/
    .my__card {
        padding: 0;
    }
    /*========== my__card ==========*/
    /*========== item__header ==========*/
    .item__header {
        cursor: pointer;
        padding: 0;
        user-select: none;
        transition: .3s;
        padding: 15px 20px;
        background: rgba(var(--c-neutral-700), $alpha);
        color: rgba(var(--c-white), $alpha);
        h5 {
            font-weight: bold;
            font-size: 1em;
        }
        & > .icon {
            font-size: 1.5rem;
        }
    }
    /*========== item__header ==========*/
    /*========== item__content ==========*/
    .item__content {
        display: none;
        border-radius: 0;
        padding: 25px 20px 15px;
        &.isopen {
            display: inherit;
        }
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        li {
            text-transform: capitalize;
            transition: .3s;
            color: rgba(var(--c-neutral-400), $alpha);
        }
    }
    /*========== item__content ==========*/
}