/*========== figure ==========*/
figure {
    position: relative;
    flex: 300px 0 0;
    flex-shrink: 0;
    .wrapper__badge {
        position: absolute;
        top: 10px;
        right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .badge {
            text-transform: uppercase;
        }
    }
    img {
        object-fit: cover;
    }
}
/*========== figure ==========*/
/*========== item__content ==========*/
.item__content {
    padding: 20px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    text-align: left;
    h4 {
        @include lineclamp(1);
        font-weight: 400;
        margin: 0;
        transition: .3s;
        font-weight: 600;
        &:hover {
            color: rgba( var(--c-primary-500) ,$alpha);
        }
    }
    /*========== thumbnail__buttons__list ==========*/
    .thumbnail__buttons__list {
        display: flex;
        column-gap: 10px;
        button {
            &:last-of-type {
                padding-left: 20px;
                padding-right: 20px;
            }
            border-width: 1px;
        }
    }
    /*========== thumbnail__buttons__list ==========*/
}
/*========== item__content ==========*/
