@import "assets/styles/helpers";

section.product__featured {
    .sec__content {
        /*========== featured__header ==========*/
        .featured__header {
            padding: 10px 5px 15px;
            border-bottom: 1px solid rgba(var(--c-neutral-100), $alpha);
            h3 {
                font-weight: 600;
            }
        }
        /*========== featured__header ==========*/
        /*========== product__featured__layout ==========*/
        .my__card {
            .product__featured__layout {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                @import "./product-featured-item";
            }
        }
        /*========== product__featured__layout ==========*/
    }
}