.favourite {
    .tab__content {
        @import "./product-item";
        .product__item {
            .details {
                @include md {
                    flex-basis: 70%;
                }
            }
            .thumbnail__buttons {
                display: flex;
                column-gap: 15px;
                margin-top: 9px;
            }
        }
    }
}