$header-height: 120px;
$component-padding: 50px;
$main-space: 50px;

$font-header: 'Merriweather Sans', sans-serif;
$font-text: 'Merriweather Sans', sans-serif;


$font-size: 0.9rem;

$alpha: 1;




$header-modal-width: 400px;
$header-modal-padding: 15px;
$product-modal-padding: 30px;

$quickview-modal-width: 700px;
$quickview-modal-height: 600px;

$aside-padding: 20px;
