$alpha: 1;
$header-height: 120px;
$component-padding: 50px;
$main-space: 50px;

$font-header: 'Poppins', sans-serif;
$font-text: 'Merriweather Sans', sans-serif;

$text-typo: rgba(var(--c-neutral-400),  $alpha);
$text-typo-dark: rgba(var(--c-neutral-300),  $alpha);


$font-size: 0.9rem;


$btn_inp-height-sm: 38px;
$btn_inp-padding-sm: 25px;

$btn_inp-height-md: 45px;
$btn_inp-padding-md: 30px;

$btn_inp-height-lg: 50px;
$btn_inp-padding-lg: 40px;


$header-modal-width: 400px;
$header-modal-padding: 15px;
$product-modal-padding: 30px;

$quickview-modal-width: 700px;
$quickview-modal-height: 600px;

$aside-padding: 20px;
