@import "assets/styles/helpers";

.bread__crumb{
    background: rgba(var(--c-white), $alpha);
    margin-bottom: 10px;
    ol {
        background: transparent;
        margin: 0;
        padding: 20px 0;
        li {
            color: $text-typo;
            transition: .3s;
            &:hover,&.active {
                color: rgba(var(--c-primary-500), $alpha);
            }
        }
    }
}