@import "assets/styles/helpers";


.my__tabs.nav {
    border: 0;
    position: relative;
    row-gap: 10px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 0;
        padding: 0 $btn_inp-padding-sm;
        height: $btn_inp-height-sm;
        z-index: 2;
        background: rgba(var(--c-white), $alpha);
        font-weight: 700;
        &.active {
            color: rgba(var(--c-primary-700), $alpha) !important;
        }
    }
}